@model IEnumerable<StockSystemApp.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" type="text/css" />

<h1>Products</h1>

@if (Model != null && Model.Any())
{
    <div class="category-table">
        @foreach (var categoryGroup in Model.GroupBy(p => p.Category.Name))
        {
            <h2>@categoryGroup.Key</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in categoryGroup)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                            <td>@product.Stock</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}
else
{
    <p>No products available.</p>
}
